.workImages {
    margin-top: 5rem;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1rem;
    
    @media screen and(max-width: 800px) {
        grid-template-columns: repeat(2,1fr);
    }
    
    @media screen and(max-width: 600px) {
        grid-template-columns: 1fr;
    }

    .github {
        border: 1px solid yellow;
        max-width: 1200px;
        // height: 470px;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        text-align: center;
        padding: 0 10px 0 10px;
        color: #fff;
        border-radius: 5px 5px 5px 5px;
        background-color: #1f1f1f;
        box-shadow: 0 0 10px #8c12f0;
        gap: 40px;
        @media screen and(max-width:600px) {
            // max-width: 350px;
        }

        img {
            border-radius: 5px 5px 5px 5px;
            justify-content: center;
            margin-top:20px ;
            width: 100%;
            height: 250px;
            object-fit: cover;
        }

        h3{
            color: #8c12f0;
        }
        p{
            margin: 10px 0 10px  0;
        }

        .hoverLayer {
            background: #8c12f0;
            border-radius: 5px;
            width: 100%;
            height: 100%;
            z-index: 5;
            position: absolute;
            top: 0;
            left: 0;
            display: flex;
            gap: 1.5rem;
            justify-content: center;
            align-items: center;
            
            a {
                width: 40px;
                height: 40px;
                background: rgba(255,255,255,0.25);
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                svg {
                    color: #fff;
                    font-size: 1.5rem;
                }
            }
        }
    }
}

.talk {
    margin-top: 3rem;
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-radius: 5px;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
    gap: 1rem;

    .talk_left{

        h3 {
            font-size: 1.5rem;

            span {
                font-size: 3.5rem;
                color: #8c12f0;

                @media screen and (max-width: 599px) {
                    font-size: 2rem;
                }

                @media screen and (max-width: 360px) {
                    font-size: 1.5rem;
                }
            }
        }
    }
    .talk_right {
        align-self: flex-end;
        margin-bottom: 1.5rem;
        background: #8c12f0;
        padding: 0.65rem 1rem;
        border-radius: 10px;
        font-size: 0.85rem;
         
        a {
            text-decoration: none;
            color: #fff;
            text-transform: capitalize;
        }
    }
}
